fiona==1.8.22
ptyprocess==0.7.0
pytz==2022.1
markupsafe==2.1.1
toolz==0.12.0
pickleshare==0.7.5
defusedxml==0.7.1
babel==2.10.3
scipy==1.8.1
certifi==2023.5.7
parso==0.8.3
cftime==1.6.1
simplejson==3.17.6
entrypoints==0.4
numpy==1.23.1
tqdm==4.64.0
fsspec==2022.5.0
jedi==0.18.1
matplotlib==3.5.2
debugpy==1.6.0
findlibs==0.0.2
psutil==5.9.1
cfgrib==0.9.10.1
decorator==5.1.1
zipp==3.8.0
shapely==1.8.5.post1
numexpr==2.8.3
unicodedata2==14.0.0
traitlets==5.3.0
backcall==0.2.0
wcwidth==0.2.5
platformdirs==2.5.2
six==1.15.0
kiwisolver==1.4.4
tornado==6.1
numba==0.56.4
cffi==1.15.1
urllib3==1.26.10
executing==0.8.3
pyparsing==3.0.9
idna==3.3
lz4==4.0.0
eccodes==1.4.2
chardet==5.0.0
pygments==2.12.0
cartopy==0.21.0
pexpect==4.8.0
cycler==0.11.0
xarray==2023.2.0
requests==2.28.1
colorama==0.4.5
llvmlite==0.39.1
asttokens==2.0.5
packaging==21.3
pooch==1.7.0
metpy==1.5.1
pyproj==3.3.1
cloudpickle==2.1.0
dask==2022.7.0
cytoolz==0.12.0
tblib==1.7.0
pycparser==2.21
ipykernel==6.15.1
pint==0.22
pandas==1.4.3
bottleneck==1.3.5
setuptools==63.2.0
sparse==0.13.0
jinja2==3.1.2